[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
jupyter = "*"
pandas = "*"
requests = "*"
pyarrow = "*"

[requires]
python_version = "3.8"
