[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest-cov = "*"
pre-commit = "*"

[packages]
jupyter = "*"
pandas = "*"
pyarrow = "*"
dvc = {extras = ["s3"],version = "*"}
matplotlib = "*"
pytest-mock = "*"
sklearn = "*"
pyyaml = "*"
requests = "*"
xgboost = "*"
holidays = "*"
seaborn = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
